{% extends "base.html" %}

{% block content %}
<header class="w-full bg-gradient-to-t from-black to-gray-800 text-white px-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between h-[72px]">
        <h2 class="text-xl font-semibold">Agro service track</h2>
        <nav class="flex flex-wrap gap-3 items-stretch h-full">
        <button class="text-white px-3 py-0 h-full flex items-center justify-center border-b-4 border-transparent hover:border-white"
            hx-get="{% url 'employee-list' %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        >
            Funcionário
        </button>
        <button class="text-white px-3 py-0 h-full flex items-center justify-center border-b-4 border-transparent hover:border-white"
            hx-get="{% url 'client-list' %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        >
            Clientes
        </button>

        <button class="text-white px-3 py-0 h-full flex items-center justify-center border-b-4 border-transparent hover:border-white"
            hx-get="{% url 'checklist-item-list' %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        >
            Checklist Itens
        </button>

        <button class="text-white px-3 py-0 h-full flex items-center justify-center border-b-4 border-transparent hover:border-white"
            hx-get="{% url 'service_panel' %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        >
            Painel de Serviço
        </button>

        <form method="POST" action="{% url 'logout' %}" class="inline-flex h-full">
            {% csrf_token %}
            <button type="submit" class="text-red-300 px-3 py-0 h-full flex items-center justify-center border-b-4 border-transparent hover:border-red-300">logout</button>
        </form>
    </nav>
    </div>
</header>

<main id="main-content" class="p-4" style="padding:0 10%;">
    {% block inner %}{% endblock %}
</main>
{% endblock %}
