<div class="container">
    <h1>Clientes Cadastrados</h1>
    <form id="search-form"           
            hx-get="{% url 'client-list' %}" 
            hx-target="#main-content"
            hx-swap="innerHTML">
        <input
            class="sigle_input" 
            type="text" 
            name="search" 
            placeholder="Nome ou CNPJ" 
            value="{{ request.GET.search|default:'' }}"
            hx-trigger="keyup changed delay:500ms"
        >
        <button type="submit">Buscar</button>
    </form>
    {% if page_client %}
    <table class="client-table">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome</th>
                <th>Phone</th>
                <th>Email</th>
                <th>-</th>
            </tr>
        </thead>
        
        <tbody>
            {% for client in page_client %}
            <tr>
                <td>{{ client.cnpj }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <button 
                    hx-get="{% url 'open_client_services' client.id %}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                    >
                    Verificar Serviços
                </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        {% if page_client.has_previous %}
        <button  hx-get="{% url 'client-list' %}?page={{ page_client.previous_page_number }}"
            hx-target="#main-content"
            hx-swap="innerHTML">
            Anterior
        </button>
    
        {% endif %}
        
        <span>Página {{ page_client.number }} de {{ page_client.paginator.num_pages }}</span>
        
        {% if page_client.has_next %}
        <button hx-get="{% url 'client-list' %}?page={{ page_client.next_page_number }}"
            hx-target="#main-content"
            hx-swap="innerHTML">
            Próxima
        </button>

        {% endif %}
    </div>
    {% else %}
    <p>Nenhum cliente cadastrado ainda.</p>
    {% endif %}
</div>
