<form class="service_form" method="POST"
      hx-post="{% url 'add_service' client.id %}"
      hx-target="#main-content"
      hx-swap="innerHTML">
    
    <h3>Nova Ordem de Serviço</h3>

    {% csrf_token %}

    {{ form.non_field_errors }}
    
    <div class="form-group">
        <label>Cliente</label>
        <input type="text" value="{{ client.name }}" disabled>
    </div>

    <div class="form-group">
        {{ form.operation_code.label_tag }}
        {{ form.operation_code }}
        {{ form.operation_code.errors }}
    </div>

    <div class="form-group">
        {{ form.symptoms.label_tag }}
        {{ form.symptoms }}
        {{ form.symptoms.errors }}
    </div>

    <button type="submit">Salvar</button>
</form>