<div class="empty-grid">
    
    {% if orders %}    
        {% for s in orders %}
           <div class="service-card">
                <h3>OS {{ s.operation_code }}</h3>
                <p><strong>Cliente:</strong> {{ s.client.name }}</p>
                <p><strong>Problema:</strong> {{ s.symptoms }}</p>
                <p class="status {{ s.status|lower }}">{{ s.get_status_display }}</p>
            </div>  
        {% endfor %}
    {% else %}
        <div class="empty-state">
            <h2>Nenhum serviço ativo</h2>
            <p>Todas as ordens estão finalizadas.</p>
        </div>
    {% endif %}
    
</div>