{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org"></script>
    
</head>
<body>

    <header>        
            <h2>Project AT</h2>   
        
    </header>
    <nav class="links">       
                   
        
        <button 
            hx-get="{% url 'register_worker' %}" 
            hx-target="#main-content"
            hx-swap="innerHTML"
        >
        Cadastrar Funcionario
        </button>
        <button 
            hx-get="{% url 'register_client' %}" 
            hx-target="#main-content"
            hx-swap="innerHTML"
            >
            Cadastrar Cliente
        </button>
        
        <button 
            hx-get="{% url 'client-list' %}" 
            hx-target="#main-content"
            hx-swap="innerHTML"
            >
            Listar Clientes
        </button>  
        
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    </nav>
    <main  id="main-content">       
        {% block content %}{% endblock %}        
    </main>

</body>
</html>
