<div>    
    <form class="form"method="POST">
        <h1>Cadastrar Cliente</h1>
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <p>
            {{ form.cnpj.label_tag }}
            {{ form.cnpj }}
            {{ form.cnpj.errors }}
        </p>
        <p>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </p>
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </p>
        <p>
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {{ form.phone.errors }}
        </p>
        <button type="submit">Salvar</button>
    </form>
</div>
