<div class="container">
    <h1>Clientes Cadastrados</h1>
    <form id="search-form"           
            hx-get="{% url 'client-list' %}" 
            hx-target="#main-content"
            hx-swap="innerHTML">
        <input
            class="sigle_input" 
            type="text" 
            name="search" 
            placeholder="Nome ou CNPJ" 
            value="{{ request.GET.q|default:'' }}"
            hx-trigger="keyup changed delay:500ms"
        >
        <button type="submit">Buscar</button>
    </form>
    {% if clients %}
        <table class="client-table">
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Nome</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>-</th>
                </tr>
            </thead>

            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.cnpj }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <button 
                            hx-get="{% url 'open_client_services' client.id %}"
                            hx-target="#main-content"
                            hx-swap="innerHTML"
                        >
                            Abrir Serviços
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Nenhum cliente cadastrado ainda.</p>
    {% endif %}
</div>
